@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body {
    margin: 0;
    padding-left: 0;
    height: 100%;
    background-color: white;
}

header {
    background: #466368;
    background: linear-gradient(to right bottom, #155997, #159858);
    height: 30%;
    max-width: 100%;
    text-align: center;
}

.header-container{
    height: 100%;
    width: 100%;
}

.main-content{
    max-width: 100%;
    font-size: 100%;
    width: 50em;
    text-align: justify;
    margin: 2em auto 3em auto;
    line-height: 1.5em;
}

.header-img{
    max-height:90%;
}
.contact-header{
    text-align: center;
    font-size: 14px;
    font-family: 'Quicksand', serif;
}

.myname{
    font-family: 'Arial', bold, serif;
    color: #212121;
}

.gitbutton{
    max-width: 100%;
    margin: auto;
    width: 13.5%;
    height: 2.2em;
    background-color: #155997;
    color: white;
    border: none;
    border-radius: 14px;
}

.button-text{
    max-width: 100%;
    font-size: 1em;
    font-family: 'Staatliches', serif;
    letter-spacing: 0.15em;
}

.horizontal-line{
    margin: 1em auto 1em auto;
    border-bottom: 1px solid #ccc;
    width: 9em;
    text-align: center;
}

.social-media-icons{
    max-width: 100%;
    margin: auto;
}

.socialbtns{
    box-sizing: content-box;
    border: none;
    width: 1em;
    height: 1em;
    background-color: transparent;
    padding: 0.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-size: contain;
    background-repeat: no-repeat;
}

.socialbtns:hover{
    max-width: 100%;
    width: 1.5em;
    height: 1.5em;
}

.socialbtns:active {
    max-width: 100%;
    background-color: white;
    width: 0.1em;
    height: 0.1em;
    transition: all 0.2s;
}

#pxbtn{
    background-image: url("../socialmediaicons/500px.png");
}

#facebtn{
    background-image: url("../socialmediaicons/facebook.png");
}

#instabtn{
    background-image: url("../socialmediaicons/insta.png");
}

#inbtn{
    background-image: url("../socialmediaicons/linkedin.png");
}

.projects-headline{
    padding-left: 0.5em;
    font-family: "Staatliches", serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: #155997;
}

.big-p{
    font-size: 2em;
}

.projects-list{
    margin-left: 0.5em;
    margin-right: 0.5em;
    font: 1em "Quicksand", serif;
}

.projects-list img{
    box-sizing: content-box;
    max-width: 100%;
    height: 1.7em;
    width: auto;
}

.add-shadow {
    background-color: rgba(230, 230, 230, 0.43);
    padding: 0.1em 0.25em 0.1em 0.25em;
    line-height: 2em;
}

.add-shadow::before{
    content:" • ";
}

.site-footer{
    text-align: center;
    height: 1px;
    border-top: 1px solid #ccc;
}

.site-footer-credits {
    padding-top: 5%;
    padding-right : 5px;
    font-family: Staatliches, serif;
    font-size: 100%;
}
