@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body {
    margin: 0;
    padding-left: 0;
    height: 100%;
    background-color: white;
}

header {
    background: #466368;
    background: linear-gradient(to right bottom, rgba(0, 255, 243, 0.3), #21c045);
    height: 3px;
    max-width: 100%;
    text-align: center;
}

.header-container{
    height: 100%;
    width: 100%;
    display:none;
}

.avatar.rounded-2{
    border: none;
    border-radius: 100%;
    width: 150px;
}

a{
    text-decoration: none;
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #159858;
}

/* selected link */
a:active {
    color: #155997;
}

.main-content{
    max-width: 100%;
    font-size: 100%;
    width: 59em;
    text-align: justify;
    margin: 2em auto 3em auto;
    line-height: 1.5em;
}

.header-img{
    max-height:90%;
}
.contact-header{
    padding-bottom: 3em;
    text-align: center;
    font-size: 1em;
    font-family: 'Quicksand', serif;
}

.myname{
    font-family: 'Arial', bold, serif;
    color: #212121;
}

.social-media-container{
    width: 15em;
    margin-right: auto;
    margin-left: auto;
}

.gitbutton{
    display: block;
    max-width: 100%;
    margin: auto;
    width: 8.0em;
    height: 2.2em;
    background-color: #2087e5;
    color: white;
    border: none;
    border-radius: 1em;
    min-height: 2em;
}

.gitbutton:hover{
    background-color: #159858;
    transition: all 1s;
}

.gitbutton:active{
    background-color: #155997;
}

.button-text{
    max-width: 100%;
    font-size: 1em;
    font-family: 'Staatliches', serif;
    letter-spacing: 0.15em;
}

.horizontal-line{
    margin: 1em auto 0.2em auto;
    border-bottom: 1px solid #ccc;
    width: 9em;
    text-align: center;
}

.social-media-icons{
    display: inline-block;
    max-width: 100%;
    position: absolute;
    left:0;
    right:0;
}

.socialbtns{
    box-sizing: content-box;
    border: none;
    width: 0.6em;
    height: 0.6em;
    background-color: transparent;
    padding: 0.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-size: contain;
    background-repeat: no-repeat;
}

.socialbtns:hover{
    max-width: 100%;
    width: 1em;
    height: 1em;
    transition: all .15s;
}

.socialbtns:active {
    max-width: 100%;
    background-color: white;
    width: 0.1em;
    height: 0.1em;
    transition: all 0.2s;
}

#pxbtn{
    background-image: url("../socialmediaicons/500px.png");
}

#facebtn{
    background-image: url("../socialmediaicons/facebook.png");
}

#instabtn{
    background-image: url("../socialmediaicons/insta.png");
}

#inbtn{
    background-image: url("../socialmediaicons/linkedin.png");
}

.projects-headline{
    padding-left: 0.5em;
    font-family: "Staatliches", serif;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    color: #2087e5;
}

.big-p{
    font-size: 2em;
}

.projects-list{
    margin: 1em 0.5em auto 0.5em;
    font: 1em "Quicksand", serif;
}

.projects-list img{
    display: block;
    height: 1.5em;
    width: auto;
    min-height: 1.5em;
}

.add-shadow {
    background-color: rgba(230, 230, 230, 0.43);
    padding: 0.1em 0.25em 0.1em 0.25em;
    line-height: 2em;
}

.add-shadow::before{
    content:" • ";
}

.footer-horizontal-line{
    height: 1px;
    border-top: 1px solid #eaeaea;
}

.site-footer-credits {
    margin-top: -0.1em;
    text-align: center;
    width: 12em;
    color: gray;
    background-color: #eaeaea;
    margin-left: auto;
    margin-right: auto;
    font-family: Staatliches, serif;;
}

