<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.00, user-scalable=no">
    <meta http-equiv='content-type' content='text/html; charset=UTF-8'>
    <meta name="KEYWORDS" content="sheme,hamitaj,personal,site,developer,
                                   web,desktop,mobile,fast,reliable,resume,
                                   tirana,albania,github,pages,shqiperi,
                                   faqe,personale,tirane,zhvillues,programues,
                                   programe,profesional,sherbim,software">
    <meta name="DESCRIPTION" content="Sheme Hamitaj's Personal Site">

    <link href="" rel="shortcut icon" type="favicon.ico">
    <link rel="stylesheet" href="../assets/css/stylesheet.css">
    <link rel="stylesheet" href="../assets/css/animation.css">
    <link rel="stylesheet" href="../assets/css/media.css">

    <title>Sheme Hamitaj - Personal Page</title>
</head>
<body>

<header>
    <div class="animation-area">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</header>

<main role="main">
    <div class="main-container">
        <div class="grid-item head">
            <ul class="header-buttons">
                <li id="about" class="about">about</li>
                <li id="resume" class="resume">resume</li>
                <li id="social" class="social">social</li>
                <li id="contact" class="contact">contact</li>
            </ul>
        </div>
        <div class="grid-item profile">
            <div class="profile-content">
                <div class="banner-cover"></div>
                <div class="profile-pic"></div>
                <div class="full-name">
                    <span id="full-name">Sheme Hamitaj</span>
                </div>
                <div class="subtitle">
                    <span id="subs">Computer Engineer</span>
                </div>
                <div class="bottom-buttons">
                    <button class="btn download-cv">Download CV<span class="icon"> </span></button>
                    <button class="btn contact-me">Contact<span class="icon"> </span></button>
                </div>
            </div>
        </div>
        <div class="grid-item info">
            <div class="info-content"></div>
        </div>
    </div>
</main>

<script type="text/javascript" src="../assets/javascript/index.js"></script>
</body>
</html>
